/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image:url(../images/connectBackground.png);
	-fx-background-size:cover;
}

#Xbt{
	-fx-background-color:rgb(105, 204, 0);
	-fx-font-color:white;
}



